name: build-mkdocs-site #
on:
  # push:
    # branches: [master, main]
  pull_request:
     branches: [master, main]
     types:
       - closed
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: python -m pip install --upgrade pip
      - run: git config --global url."https://".insteadOf git://
      - run: pip install -r docs/requirements.txt
      - run: mkdocs gh-deploy --force
